@import 'tailwindcss';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton-svelte';
@import '@skeletonlabs/skeleton/themes/cerberus';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';
